<div class="row" id="target">
    <div class="col-lg-12 mb-4">
        <!-- Simple Tables -->
        <div class="card">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Sales Report</h6>

                <!-- Download Button and Date Range Input Fields -->
                <div class="d-flex align-items-center">

                    <!-- Date Range Input Fields -->
                    {{#if date}}
                    <form method="post" id="salesReportForm" action="/admin/date-filter-report">
                        <div class="form-row align-items-center mr-3">
                            <div class="col-auto">
                                <label class="srs-only" for="startDate">Start Date</label>
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="startDate">Start Date</label>
                                <input type="date" class="form-control mb-2" name="Start" id="startDatesales"
                                    placeholder="Start Date">
                                <p style="color: red;" id="startsldtErr"></p>
                            </div>

                            <div class="col-auto">
                                <label class="srs-only" for="endDate">End Date</label>
                            </div>
                            <div class="col-auto">
                                <label class="sr-only" for="endDate">End Date</label>
                                <input type="date" class="form-control mb-2" name="End" id="endDateSales"
                                    placeholder="End Date">
                                <p style="color: red;" id="endsldtErr"></p>
                            </div>

                            <div class="col-auto">
                                <input type="button" onclick="validateSalesReport()" class="btn btn-info" value="Apply">
                            </div>
                        </div>
                    </form>



                    <!-- Download Button -->
                    <a href="/admin/download" id="cmd" class="btn btn-primary">Download</a>
                    {{/if}}
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>Customer</th>
                            <th>Payment Method</th>
                            <th>Status</th>
                            <th>Amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each salesSummary}}
                        <tr>
                            <td><a href="#">ORD{{this._id}}</a></td>
                            <td>{{this.Order_Date}}</td>
                            <td>{{this.User_id.Full_Name}}</td>
                            <td>{{this.Payment_Method}}</td>
                            <td><span class="badge badge-success">{{this.Status}}</span></td>
                            <td>{{this.Total_Amount}}</td>

                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <br>
                <div style="display: flex; gap: 80px;">
                    <div style="width: 73.5%;"></div>
                    <h4>Total</h4>
                    <h4 style="text-center">{{total}}</h4>
                </div>

            </div>
            <div class="card-footer"></div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            {{#if prev}}
            <li class="page-item"><a class="page-link" href="/admin/sales-report-page?page={{prev}}">Previous</a></li>
            {{/if}}

            <li class="page-item"><a class="page-link" href="/admin/sales-report-page?page={{pageNum}}">{{pageNum}}</a></li>

            {{#if next}}
            <li class="page-item"><a class="page-link" href="/admin/sales-report-page?page={{next}}">Next</a></li>
            {{/if}}
        </ul>
    </nav>

</div>

 {{!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
          <a href="/admin/logout" class="btn btn-primary">Logout</a>
        </div>
      </div>
    </div>
  </div> --}}